/* for icon */
@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');

/* CustomToastify.css */
@media screen and (max-width: 700px) {

  
  .mobile-toastify {
    /* Custom styles for the toast container */
    width: 300px; /* Decrease the width */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .mobile-toastify .Toastify__toast {
    /* Custom styles for individual toasts */
    width: 270px; /* Decrease the width */
    height: 40px; /* Decrease the height */
    font-size: 12px; /* Adjust the font size accordingly */
  }
}
  