.singlePost {
  flex: 1;
  margin: 28px;
}

.singlePostWrapper {
  padding: 20px;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.singlePostImg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.singlePostTitle {
  text-align: center;
  margin: 10px 0 10px 0;
  font-size: 28px;
  font-family: "Lora", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disable {
  opacity: 0.5;
}

.singlePostTitleInput {
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 28px;
  text-align: center;
  border: none;
  color: gray;
  border-bottom: 1px solid lightgray;
}

.singlePostTitleInput:focus {
  outline: none;
}
.singlePostEdit {
  float: right;
  font-size: 16px;
  display: flex;
  /* align-items: right; */
  justify-content: right;
}

.singlePostDescInput {
  border: none;
  color: #666;
  font-size: 18px;
  line-height: 25px;
  width: 100%;
  min-height: 170px;
}

.singlePostDescInput:focus {
  outline: none;
}

.singlePostIcon {
  color: white;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #be9656;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.singlePostAuthor {
  margin-left: 5px;
}

.singlePostDesc {
  color: #666;
  font-size: 26px;
  line-height: 25px;
  text-align: justify;
  line-height: 38px;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.singlePostEditIcon {
  width: 30px;
  height: 30px;
  background-color: rgb(190, 74, 54);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.singlePostDeleteIcon {
  width: 30px;
  height: 30px;
  background-color: rgb(0, 76, 76);
  border-radius: 50%;
  margin-left: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.singlePostButton {
  width: 100px;
  border: none;
  background-color: teal;
  padding: 10px 30px;
  color: white;
  border-radius: 5px;
  cursor: pointer;

  align-self: flex-end;
  margin-top: 20px;
}

.singlePostDescInput .ql-editor {
  background: repeating-linear-gradient(
    #f1ede9,
    #f1ede9 26px,
    #94acd4 27px,
    #94acd4 28px
  );
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {
  position: relative;
  /* padding: 20px; */
  max-width: 90%;
  max-height: 90%;
  /* background-color: #fff; */
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.singlePostImgWrapper{
  cursor: zoom-in;
}

.modalImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: zoom-out;
}

.PostButtons {
  margin-top: 50px;
  position: center;
  /* margin-right: 200px; */
  /* margin-left: 200px; */
  align-items: center;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.likeSpan {
  margin-right: 22px;
  cursor: pointer;
}

.containerOtherThanPhoto {
  padding-left: 50px;
}

@media screen and (max-width: 700px) {
  .singlePostDesc{
    color: #666;
    font-size: 16px;
    line-height: 23px;
    min-height: 250px;
  }

  .singlePostImg {
    height: 160px;
  }

  .singlePostTitle {
    font-size: 20px;
  }

  .singlePostAuthor, .singlePostDate {
    font-size: small;
  }

  .singlePostEdit {
    font-size: 12px;
  }

  .singlePostEditIcon, .singlePostDeleteIcon {
    width: 25px;
    height: 25px;
  }

  .singlePostTitleInput {
    margin: 10px;
    margin-left: 0px;
    font-size: 20px;
    text-align: left;
  }

  .singlePost {
    margin: 12px;
  }

  .singlePostWrapper {
    padding: 8px;
  }

  .PostButtons {
    padding: 8px;
    margin-top: 10px;
  }
}